.scroll-container {
    overflow: hidden;
    position: relative;
}

.scroll-content {
    display: flex;
    transition: transform 0.3s ease;
}

.block {
    min-width: 10rem;
    max-width: 48rem;
    max-height: 20rem;
}