<!doctype html>
<html>
<!-- 
   But :    
   Auteur : Romain Benedetti
   Date :   26.02.2024 / V1.0 
   -->

<!-- entête de la page -->

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="Client/assets/img/icon.png" />
   <title>TourisTunes</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</head>

<body>

   <!--Exemple de modèle-->
   <div class="sm:ml-64">

   </div>


   <!--Bien laisser à la fin du body-->
   <script src="app.js"></script>
</body>

</html>